* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #1C1C1C;
  --secondary-color: #FFF;
  --tertiary-color: #CAFF33;
  --font-color-feature: rgba(4, 49, 64, 1);

  font-size: 60%;
}

body {

  font-family: 'Lexend', sans-serif;
  transition: 0.3s;

  height: 100vh;
  overflow-x: hidden;
}

.firstPage { 
  background: linear-gradient(#043140 0%, #000B0F 100%);
  

  width: 100vw;


  display: flex;
  flex-direction: column;

  > #imgDetails{
    max-width: 70vw;
    max-height: 80vh;

    margin: 0 auto;
    background-color: transparent;
    transition: 0.5s;
  }
}

.containerHeader {
  background-color: #1C1C1C;
  border-radius: 30px;

  color: #FFF;
  
  width: 90vw;
  margin: 0 auto 10rem;

  padding: 15px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.3s;
  
  > li {
    display: flex;
    justify-content: space-around;


    width: 50%;

    > ol {
      list-style: none;

      margin: 0;
      padding: 0;

      display: flex;
      align-items: center;

      > a {
        text-decoration: none;
        color: #FFF;

        font-size: 1.8rem;
      }

      > a:hover{
        color: #CAFF33;
      }
    }
  }

  .buttonsHeader {
    > button {
      background-color: #CAFF33;
      
      border: none;
      border-radius: 20px;
      color: #1C1C1C;
      
      cursor: pointer;
      
      font-size: 2rem;
      font-weight: bold;
      padding: 10px 20px;

      margin-right: 10px;
    }

    > button:hover{
      background-color: #1C1C1C;
      color: #CAFF33;
    }
    
  }
}

.welcomeSection {
  color: var(--secondary-color);

  margin: 0 auto 10rem;

  max-width: 800px;

  > p {
    font-size: 1.8rem;

    margin-top: 20px;
  }

  > h1 {
    font-size: 4.8rem;

    > strong {
      color: #CAFF33;
    }
  }

  > #buttonCadastro, #buttonLearnMore {
    margin-top: 30px;
    padding: 12px 18px;

    font-size: 1.8rem;
    
    border: none;
    border-radius: 20px;
  }

  > #buttonCadastro {
    background-color: var(--tertiary-color);
    
  }

  > #buttonLearnMore {
    background-color: rgba(7, 22, 26, 0.5);
    color: var(--secondary-color);
    margin-left: 20px;
  }

  #buttonCadastro:hover{
    color: var(--secondary-color);
    background-color: transparent;
  }

  #buttonLearnMore:hover{
    color: var(--tertiary-color);
    background-color: transparent;
  }
}

.featuresClass{
  width: 100vw;
  text-align: center;

  margin-top: 10rem;
  padding: 20px 0;

  > strong {
    font-size: 2.4rem;
  }

  > h2 {
    font-size: 5rem;
    margin-top: 15px;
  }

  > p {
    font-size: 1.8rem;
    margin-top: 15px;
  }

  > strong, h2, p {
    color: var(--tertiary-color);
  }
}

.cardsSection {
  display: grid;

  grid-template-columns: repeat(4, .2fr);
  justify-content: center;


  gap: 10px;

  > .card{
    background-color: #222121;

    max-width: 290px;

    border-radius: 10px;
    padding: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;


    > * {
      color: var(--secondary-color);

      > ion-icon {
        font-size: 5rem;
        color: var(--tertiary-color);

        padding: 20px;
        margin-bottom: 10px;
      }
      > h5 {
        font-size: 2.4rem;
        margin-bottom: 15px;

      }
      > p{
        font-size: 1.5rem;
      }
      > button {
        display: none;
      }
    }
  }
}

.getStarted {
  background: url(./assets/background2.png) no-repeat;
  background-size: cover;

  margin: 10rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10rem;
  

  > strong {
    font-size: 5rem;
    color: var(--tertiary-color);
  }

  > p {
    font-size: 2rem;
    color: var(--secondary-color);
  }

  > button {
    background-color: #CAFF33;
    
    border: none;
    color: #1C1C1C;
    
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  > button:hover{
    background-color: #1C1C1C;
    color: #CAFF33;
  }
}

.informationSection{
  border-bottom: 1px solid #C0C0C0;

  font-size: 1.5rem;
  padding: 20px;

  font-weight: 500;

  * {
    color: var(--secondary-color);
  }

  button:hover{
    color: var(--tertiary-color);
  }

  > .buttonsContactUs {
    background-color: transparent;

    margin-left: 10px;
    border: 1px solid var(--secondary-color);
    padding: 10px;

    font-weight: bold;
  }
}

.informationAdd{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 5rem 0;
  
  > .adressAndSocialMedia {
    margin: 0 auto;
    > * {
      color: var(--secondary-color);
      font-size: 1.5rem;
    }
    
    > img {
      margin-bottom: 10px;
    }

    > :nth-child(3) {
      opacity: .3;
      margin-top: 4rem;
    }

    > span ion-icon {
      font-size: 3rem;
      margin-left: 10px;
    }

    > span ion-icon:hover{
      color: var(--tertiary-color);
      cursor: pointer;
    }

  }

  > .optionsAdd {
    font-size: 1.5rem;

    > p {
      color: var(--secondary-color);
      opacity: .3;
    }
    
    > li {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      list-style: none;

      > ol a {
        text-decoration: none;
        text-transform: none;

        color: var(--secondary-color)
      }

      > ol a:hover {
      color: var(--tertiary-color);
    }
    }
  }
}

footer {

  color: var(--secondary-color);
  font-size: 1.5rem;
  text-align: center;
  opacity: .5;
}

@media(max-width:600px){
  .containerHeader {
    height: 15vh;
    background-color: transparent;
    justify-content: center;

    > img {
      filter: brightness(0.4);
    }
    > li {
      display: none;
    }

    > .buttonsHeader {
      display: none;
    }
  }

  .welcomeSection {
    color: var(--secondary-color);

    text-align: center;
    > p {
      font-size: 1.2rem;

      margin-top: 20px;
    }

    > h1 {
      font-size: 3rem;
    }

  .cardsSection {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "card1";
  }
  }

  .featuresClass{
    width: 100vw;
    text-align: center;

    padding: 20px 0;

    > strong {
      font-size: 2rem;
    }

    > h2 {
      font-size: 3rem;
      margin-top: 15px;
    }

    > p {
      font-size: 1.4rem;
      margin-top: 15px;
    }

    > strong, h2, p {
      color: var(--secondary-color);
    }
  }

  .cardsSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div ion-icon {
      display: none;
    }    
  }

  .getStarted { 
    margin-top: 400px;
  }

  .informationSection{
    display: flex;
    flex-direction: column;
  }


}

@media(max-width:950px){
  .featuresClass{
    width: 100vw;
    text-align: center;

    padding: 20px 0;

    > strong {
      font-size: 2rem;
    }

    > h2 {
      font-size: 3rem;
      margin-top: 15px;
    }

    > p {
      font-size: 1.4rem;
      margin-top: 15px;
    }

    > strong, h2, p {
      color: var(--secondary-color);
    }
  }

  .containerHeader {
    background-color: transparent;
    justify-content: space-around;

    color: var(--secondary-color);

    > img {
      filter: brightness(0.4);
    }

    > li ol a {
      display: none;
    }

    > .buttonsHeader {
      display: flex;
      > button{
        font-size: 1.2rem;
        padding: 1rem;

      } 
      }
    }
    
    .cardsSection {
      grid-template-columns: repeat(3, 1fr);
      > div ion-icon {
        display: none;
      }
    }
    
    .getStarted { 
      margin-top: 400px;
    }
    
    .informationSection{
      display: flex;
      flex-direction: column;
    }
}